server {
        listen 8080 default_server;
        
        root /var/www/html; 
        
        index index.nginx-debian.html

        server_name _;
        location / {
                try_files $uri $uri/ =404;
                error_page 404 = @redirect;
        }
        location @redirect {
                internal;
                return 301 https://www.google.com/;
                expires 1d;
        }
}